<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  internalLogLevel="info"
  internalLogFile="C:\Logs\MyWebsite\nlog-internal.txt">
  <targets async="true">
    <target type="Mail" 
            name="email" 
            header="HEADER ${newline}" 
            footer="${newline} FOOTER" 
            html="true" 
            addNewLines="true" 
            replaceNewlineWithBrTagInHtml="true" 
            subject="${var:subject}" 
            to="a0916364056@gmail.com" 
            from="testbingxiang@gmail.com" 
            smtpServer="smtp.gmail.com" 
            smtpPort="587" />
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="email" />
  </rules>
</nlog>