<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  internalLogLevel="info"
  internalLogFile="C:\Logs\MyWebsite\nlog-internal.txt">

  <extensions>
    <!--enable NLog.Web for ASP.NET Core-->
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets async="true">

	  <target xsi:type="File" name="ownFile-web" fileName="c:\temp\nlog\${shortdate}.log"
			 layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} 
			 ${exception:format=tostring}" />
  </targets>
  <rules>
	<logger name="*" minlevel ="Info" writeTo="ownFile-web" />
  </rules>
</nlog>